<!DOCTYPE html>
<html>
<head>
    <title>Lista de Ordens</title>
</head>
<body>
<h1>Lista de Ordens</h1>
<table>
    <thead>
    <tr>
        <th>ID da Ordem</th>
        <th>Order Number</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <td>{{ order.order_id }}</td>
        <td>{{ order.order_number }}</td>
        <td>{{ order.status }}</td>
        <td>
            <form method="POST" action="{% url 'order_list' %}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.order_id }}">
                <select name="status">
                    <option value="PENDING_PAYMENT" {% if order.status == 'PENDING_PAYMENT' %}selected{% endif %}>Pendente</option>
                    <option value="PAID" {% if order.status == 'PAID' %}selected{% endif %}>Pago</option>
                    <!-- Adicione outros status aqui, se necessário -->
                </select>
                <button type="submit">Atualizar Status</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
